<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_items-list">
            <li class="main-header_item"><a class="active" href="/">Main</a></li>
            <li class="main-header_item"><a href="/users">Users</a></li>
        </ul>
    </nav>
</header>

<main>
    <ul>
        <li>User1</li>
        <li>User2</li>
        <li>User3</li>
    </ul>
</main>

<script src="/js/main.js"></script>

</body>
</html>
